<%- include('./partials/head')  %> 
<div class="m-auto mb-3 p-3 alert alert-dark d-flex justify-content-between align-items-center col-11 col-md-6 col-lg-3" role="alert">
  <h4 style="margin: 0;">Bienvenido <%= user %></h4>
  <a href="/logout">
      <button type="button" class="btn btn-outline-success">Logout</button>
  </a>
</div>
<%- include('./partials/form')  %> 
<%- include('./partials/chat-box')  %> 
<%- include('./partials/foot')  %> 