<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Desafio 13 || Info View</title>
</head>
<body class="container bg-dark">
  <div class="container row m-auto mt-3">
    <div class="m-auto alert alert-dark col-lg-10 pull-center">
        <h1 class="m-3">Info</h1>
        <h5 class="m-3 text-truncate">Arguments: <span class="text-success"><%= info.argvs %></span></h5>
        <hr>
        <h5 class="m-3 text-truncate">Platform: <span class="text-success"><%= info.platform %></span></h5>
        <hr>
        <h5 class="m-3 text-truncate">Node Version: <span class="text-success"><%= info.nodeVersion %></span></h5>
        <hr>
        <h5 class="m-3 text-truncate">Memory Usage: </h5>
        <ul class="list-group m-3">
          <li class="list-group-item list-group-item-success"><span class="text-success text-truncate"><b>rss: </b><%= (info.memoryUsage.rss / (1024 * 1024)).toFixed(4) %> MB</span></li>
          <li class="list-group-item list-group-item-success"><span class="text-success text-truncate"><b>heapTotal: </b><%= (info.memoryUsage.heapTotal / (1024 * 1024)).toFixed(4) %> MB</span></li>
          <li class="list-group-item list-group-item-success"><span class="text-success text-truncate"><b>heapUsed: </b> <%= (info.memoryUsage.heapUsed / (1024 * 1024)).toFixed(4) %> MB</span></li>
          <li class="list-group-item list-group-item-success"><span class="text-success text-truncate"><b>external: </b> <%= (info.memoryUsage.external / (1024 * 1024)).toFixed(4) %> MB</span></li>
          <li class="list-group-item list-group-item-success"><span class="text-success text-truncate"><b>arrayBuffers: </b> <%= (info.memoryUsage.arrayBuffers / (1024 * 1024)).toFixed(4) %> MB</span></li>
        </ul>
        <hr>
        <h5 class="m-3 text-truncate">Path: <span class="text-success"><%= info.path %></span></h5>
        <hr>
        <h5 class="m-3 text-truncate">PID: <span class="text-success"><%= info.pid %></span></h5>
        <hr>
        <h5 class="m-3 text-truncate">Directory: <span class="text-success"><%= info.directory %></span></h5>
        <hr>
        <h5 class="m-3 text-truncate">Cpu Cores: <span class="text-success"><%= info.cpuCores %></span></h5>
    </div>          
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>