<%- include('./partials/head') %>
<div class="row d-flex justify-content-center p-2">
  <% if (products.length > 0) { %> 
    <% products.forEach(item => { %>
    <div class="card m-auto mb-3 col-3" style="width: 18rem">
      <img src="<%= item.thumbnail %>" class="card-img-top p-2" alt="Product imagen"/>
      <div class="card-body">
        <h5 class="card-title"><%= item.title %></h5>
        <p class="card-text">$<%= item.price %></p>
      </div>
    </div>
    <% }) %> 
  <% } else { %>
  <div class="row d-flex justify-content-around">
    <h1 class="text-center m-3">No hay datos</h1>
  </div>
  <% } %>
</div>
<div class="container">
  <div class="row col-11 col-md-6 col-lg-3 text-center m-auto mt-3">
    <a href="/" class="text-center btn btn-secondary m-auto">Ir al formulario</a>
  </div>
</div>
<%- include('./partials/foot') %>
